body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("images/start.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centers the content vertically */
    width: 100%; /* Ensures full width */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
}

.large-button {
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-family: cursive;
    font-size: 2rem; /* Responsive font size */
    padding: 20px; /* Padding for a better look */
    background-color: antiquewhite;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.large-button:hover {
    background-color: dimgray;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .large-button {
        font-size: 1.5rem;
        padding: 15px;
    }

    .center-container {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .large-button {
        font-size: 1.2rem;
        padding: 10px;
    }
}
