body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/images/front.jpeg");
    background-repeat: no-repeat;
    background-position: center;

}

#game-container {
    margin-top: 500px;
    min-width: 670px;
    margin-right: 95px;
    min-height:100px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#Start {
    margin-top: 450px;
    min-height: 30px;
    min-width: 500px;
}



#button1, #button2 {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #ff5c33
    ;
    color: #fff;
    cursor: pointer;
}


#image-container {
    text-align: center;
    margin-top: 20px;
}



#image {
    
    max-width: 780px;
    max-height: 300px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

